.th_style{
	font-weight: normal;
}
body{
	font-size: 13px !important;
}
.row{
	margin-left: 0px!important;
}
.chart_style{
	    height: 300px;
    width: 78%;
    position: relative;
    left: 292px;
}
table tr.show_effect:hover{
	background: lime;
	color: white;
	cursor: pointer;
}